@using Microsoft.CodeAnalysis.CSharp.Syntax
@model ReportViewDTO

@{
    ViewData["Title"] = "Index";
    string dateFrom;
    string dateTo;
    if (Model.SearchFilter.DateFrom != null)
    {
        dateFrom = ((DateTime)Model.SearchFilter.DateFrom).ToString("yyyy-MM-dd");
    }
    else
    {
        dateFrom = DateTime.Today.AddDays(-30).ToString("yyyy-MM-dd");
    }
    if (Model.SearchFilter.DateFrom != null)
    {
        dateTo = ((DateTime)Model.SearchFilter.DateTo).ToString("yyyy-MM-dd");
    }
    else
    {
        dateTo = DateTime.Today.ToString("yyyy-MM-dd");
    }
}
<h3>Reports</h3>
<hr/>
<form class="row" method="post">
    <div class="col-auto">
        <label class="col-form-label">Search date from: </label>
    </div>
    <div class="col-auto">
        <input type="date" value="@dateFrom" onchange="" name="dateFrom" class="form-control">
    </div>
    <div class="col-auto">
        <label class="col-form-label">to: </label>
    </div>
    <div class="col-auto">
        <input type="date" value="@dateTo" name="dateTo" class="form-control">
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary"><i class="bi bi-search me-2"></i>Search</button>
    </div>
</form>
<hr/>
<br/>

<h3>Currency Statistics</h3>

<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Currency.First().Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency.First().Count)
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Currency)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
        </tr>
    }
    </tbody>
</table>
<br/>

<h3>Transfer Report</h3>

<hr/>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Transfer.First().Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transfer.First().Currency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transfer.First().Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transfer.First().FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Transfer.First().LastName)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Transfer)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Currency)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
            </tr>
        }
    </tbody>
</table>
<br/>
<h3>Activity Report</h3>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Activity.First().Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activity.First().FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activity.First().LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activity.First().Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activity.First().Description)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Activity)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            </tr>
        }
    </tbody>
</table>