@model ReportViewDTO
@using LoopBreakers.WebApp.Helpers
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer _localizer

@{
    ViewData["Title"] = "Reports";
    string dateFrom = Model.SearchFilter.DateFrom == null ? "" : ((DateTime)Model.SearchFilter.DateFrom).ToString("yyyy-MM-dd");
    string dateTo = Model.SearchFilter.DateTo == null ? "" : ((DateTime)Model.SearchFilter.DateTo).ToString("yyyy-MM-dd");
    string emailSendingTime = Model.SearchFilter.EmailSend == null ? "" : ((DateTime)Model.SearchFilter.EmailSend).ToString("HH-mm");
    string emailAddress = BackgroundJobsHelper.EmailAddress;
}

<h3>@_localizer["reports"]</h3>
<hr />
<div class="row">
    <div class="col-auto">
        <form class="row" method="post">
            <div class="col-auto">
                <label class="col-form-label">@_localizer["dateFrom"]:</label>
            </div>
            <div class="col-auto">
                <input type="date" value="@dateFrom" onchange="" name="dateFrom" class="form-control">
            </div>
            <div class="col-auto">
                <label class="col-form-label">@_localizer["to"]:</label>
            </div>
            <div class="col-auto">
                <input type="date" value="@dateTo" name="dateTo" class="form-control">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary"><i class="bi bi-search me-2"></i>@_localizer["search"]</button>
            </div>
        </form>
    </div>
    <div class="col-auto">
        <form class="row" method="post">
            <div class="col-auto">
                <button type="submit" class="btn btn-danger"><i class="bi bi-x-circle me-2"></i>@_localizer["clear"]</button>
            </div>
        </form>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-auto">
        <form class="row" method="post">
            <div class="row mb-3">
                <div class="col-auto">
                    <label class="col-form-label">@_localizer["dailyReportEmailHour"]:</label>
                </div>
                <div class="col-auto">
                    <input type="time" value="@emailSendingTime.ToString()" onchange="" name="EmailSend" class="form-control">
                </div>
                <div class="col-auto">
                    <label class="col-form-label">@_localizer["enterEmail"]:</label>
                </div>
                <div class="col-auto">
                    <input type="text" value="@emailAddress" onchange="" name="EmailAddress" class="form-control">
                </div>
            </div>
            <div class="row">
                <div class="col-auto">
                    <label for="LoginActivity" class="col-form-label">@_localizer["logins"]:</label>
                </div>
                <div class="col-auto">
                    <select class="form-select" name="LoginActivity" id="LoginActivity" onchange=''>
                        <option value="false" selected>@_localizer["select"]</option>
                        <option value="true">@_localizer["active"]</option>
                        <option value="false">@_localizer["inactive"]</option>
                    </select>
                </div>
                <div class="col-auto">
                    <label for="RegisterActivity" class="col-form-label">@_localizer["registers"]:</label>
                </div>
                <div class="col-auto">
                    <select class="form-select" name="RegisterActivity" id="RegisterActivity" onchange=''>
                        <option value="false" selected>@_localizer["select"]</option>
                        <option value="true">@_localizer["active"]</option>
                        <option value="false">@_localizer["inactive"]</option>
                    </select>
                </div>
                <div class="col-auto">
                    <label for="TransferActivity" class="col-form-label">@_localizer["transfers"]: </label>
                </div>
                <div class="col-auto">
                    <select class="form-select" name="TransferActivity" id="TransferActivity" onchange=''>
                        <option value="false" selected>@_localizer["select"]</option>
                        <option value="true">@_localizer["active"]</option>
                        <option value="false">@_localizer["inactive"]</option>
                    </select>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary"><i class="bi bi-search me-2"></i>@_localizer["set"]</button>
                </div>
            </div>

        </form>
    </div>
</div>
<hr />
<br />
<h3>@_localizer["currencyStats"]</h3>
<hr />
<div class="row">
    <div class="col-7">

        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Currency.First().Currency)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Currency.First().Count)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Currency)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Currency)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Count)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-5">
        <div class="card border-0" style="width: 70%;">
            <div class="card-body">
                @{
                    List<string> currencyNames = new List<string>();
                    List<int> currencyCounts = new List<int>();
                    foreach (var x in Model.Currency)
                    {
                        currencyNames.Add(x.Currency.ToString());
                        currencyCounts.Add(x.Count);
                    }
                }
                <canvas id="myChart_2" width="200" height="200"></canvas>
                <script>
                    const ctx_2 = document.getElementById('myChart_2');
                    const myChart_2 = new Chart(ctx_2,
                        {
                            type: 'pie',
                            data: {
                                labels: @Html.Raw(Json.Serialize(currencyNames)),
                                datasets: [
                                    {
                                        label: '@(_localizer["currency"])',
                                        data: @Html.Raw(Json.Serialize(currencyCounts)),
                                        backgroundColor: [
                                            'rgba(255, 99, 132, 0.2)',
                                            'rgba(54, 162, 235, 0.2)',
                                            'rgba(255, 206, 86, 0.2)',
                                            'rgba(75, 192, 192, 0.2)',
                                            'rgba(153, 102, 255, 0.2)',
                                            'rgba(255, 159, 64, 0.2)'
                                        ],
                                        borderColor: [
                                            'rgba(255, 99, 132, 1)',
                                            'rgba(54, 162, 235, 1)',
                                            'rgba(255, 206, 86, 1)',
                                            'rgba(75, 192, 192, 1)',
                                            'rgba(153, 102, 255, 1)',
                                            'rgba(255, 159, 64, 1)'
                                        ],
                                        borderWidth: 1
                                    }
                                ]
                            }
                        });
                </script>
            </div>
        </div>
    </div>
</div>
<br />
<br />
@{
    if (Model.MostCommonTransferHours != null)
    {
        <h3>@_localizer["mostCommonTransferHrs"]</h3>

        int[] labels = new int[Model.MostCommonTransferHours.Count];
        int[] values = new int[Model.MostCommonTransferHours.Count];
        for (int i = 0; i < Model.MostCommonTransferHours.Count; i++)
        {
            labels[i] = Model.MostCommonTransferHours[i].Hour;
            values[i] = Model.MostCommonTransferHours[i].Count;
        }
        <div class="row d-flex">
            <div class="col-12">

                <canvas id="myChart" width="100" height="50"></canvas>
                <script>
                        var labels = @Json.Serialize(labels);
                        var values = @Json.Serialize(values);

                    const ctx = document.getElementById('myChart').getContext('2d');
                    const myChart = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: labels,
                            datasets: [{
                                 label: '@(_localizer["mostCommonTransferHrs"])',
                                data: values,
                                backgroundColor: [
                                    'rgba(255, 99, 132, 0.2)',
                                    'rgba(54, 162, 235, 0.2)',
                                    'rgba(255, 206, 86, 0.2)',
                                    'rgba(75, 192, 192, 0.2)',
                                    'rgba(153, 102, 255, 0.2)',
                                    'rgba(255, 159, 64, 0.2)'
                                ],
                                borderColor: [
                                    'rgba(255, 99, 132, 1)',
                                    'rgba(54, 162, 235, 1)',
                                    'rgba(255, 206, 86, 1)',
                                    'rgba(75, 192, 192, 1)',
                                    'rgba(153, 102, 255, 1)',
                                    'rgba(255, 159, 64, 1)'
                                ],
                                borderWidth: 1
                            }
                           ]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                </script>
            </div>
        </div>
    }
}
<br/>
<h3>@_localizer["activityReport"]</h3>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Activity.First().Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activity.First().FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activity.First().LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activity.First().Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activity.First().Description)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Activity)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            </tr>
        }
    </tbody>
</table>
<br />

@{
    if (Model.RegisterCounter != null)
    {
        <h3>@_localizer["registerCounter"]</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayFor(modelItem => Model.RegisterCounter.Name)
                    </th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.RegisterCounter.Count)
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        <hr />
    }
}

@{
    if (Model.LoginCounter != null)
    {
        <h3>@_localizer["loginsCounter"]</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayFor(modelItem => Model.LoginCounter.Name)
                    </th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.LoginCounter.Count)
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        <hr />
    }
}

@{
    if (Model.TransferCounter != null)
    {
        <h3>@_localizer["transfersCounter"]</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayFor(modelItem => Model.TransferCounter.Name)
                    </th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.TransferCounter.Count)
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
        <hr />
    }
}
