@model RecipientViewDTO

@{
    ViewData["Title"] = "Recipients";
}

<h3>Recipients</h3>

<p>
    <a class="btn btn-primary" asp-action="Create"><i class="bi bi-person-plus me-2"></i>Add New Recipient</a>
</p>
<hr />
<div class="row">
    <div class="col-auto">
        <form class="row" method="post">
            <div class="col-auto">
                <label class="col-form-label">Search:</label>
            </div>
            <div class="col-auto">
                <input type="text" value="@Model.SearchFilter.SearchText" name="SearchText" class="form-control" placeholder="">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary"><i class="bi bi-search me-2"></i>Search</button>
            </div>
        </form>
    </div>
    <div class="col-auto">
        <form class="row" method="post">
            <div class="col-auto">
                <button type="submit" class="btn btn-danger"><i class="bi bi-x-circle me-2"></i>Clear</button>
            </div>
        </form>
    </div>
</div>
<hr />
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Recipient.First().FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipient.First().LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipient.First().Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipient.First().Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipient.First().Iban)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipient.First().Created)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Recipient)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Iban)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    <div class="btn-group-sm" role="group">
                        <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil"></i></a>
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
