@model LoopBreakers.WebApp.DTOs.TransferPerformDTO
@using Microsoft.AspNetCore.Mvc.Localization
@using LoopBreakers.DAL.Enums
@inject IViewLocalizer _localizer

@{
    ViewData["Title"] = @_localizer["sendTransfer"];
}

<h2>@_localizer["sendTransfer"]r</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Send">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Iban" class="control-label"></label>
                <input asp-for="Iban" class="form-control" />
                <span asp-validation-for="Iban" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Currency" class="control-label"></label>
                <select asp-for="Currency" asp-items="@Html.GetEnumSelectList<Currency>()" class="form-control">
                </select>
                <span asp-validation-for="Currency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reference" class="control-label"></label>
                <input asp-for="Reference" class="form-control" />
                <span asp-validation-for="Reference" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="@_localizer["send"]" class="btn btn-primary" /> <a class="btn btn-danger" asp-action="Index">@_localizer["cancel"]</a>
            </div>
        </form>
    </div>
</div>

@{
    if (ViewBag.NotEnoughMoney)
    {
    <script>
            alert(@_localizer["balanceWarning"]);
    </script>
    }
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
