@model IEnumerable<TransferDTO>

@{
    ViewData["Title"] = "Index";
    var dateFrom = DateTime.Today.AddDays(-30).ToString("yyyy-MM-dd");
    var dateTo = DateTime.Today.ToString("yyyy-MM-dd");
     
}

<h3>Transfers</h3>

<p>
    <a class="btn btn-primary" asp-action="Create"><i class="bi bi-plus-circle me-2"></i>Add New Transfer</a>
</p>

<hr />
<form class="row" method="post">
    <div class="col-auto">
        <label class="col-form-label">Search date from: </label>
    </div>
    <div class="col-auto">
        <input type="date" value="@dateFrom" onchange="" name="dateFrom" class="form-control">
    </div>
    <div class="col-auto">
    <label class="col-form-label">to: </label>
    </div>
    <div class="col-auto">
        <input type="date" value="@dateTo" name="dateTo" class="form-control">
    </div>
    <div class="col-auto">
        <input type="text" value="" name="Name" class="form-control" placeholder="Last name">
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary"><i class="bi bi-search me-2"></i>Search</button>
    </div>
</form>
<hr />
<div class="row">
    <div class="col">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Iban)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Amount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Created)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Reference)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Iban)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount) @Html.DisplayFor(modelItem => item.Currency)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Created)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Reference)
                        </td>
                        <td>
                            <div class="btn-group-sm" role="group" aria-label="Basic example">
                                <a class="btn btn-primary " asp-action="Details" asp-route-id="@item.Id">Details</a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
