@model TransferViewDTO
@using Microsoft.AspNetCore.Mvc.Localization
@using LoopBreakers.DAL.Enums
@inject IViewLocalizer _localizer

@{
    ViewData["Title"] = @_localizer["transfers"];
    string dateFrom = Model.SearchFilter.DateFrom == null ? "" : ((DateTime)Model.SearchFilter.DateFrom).ToString("yyyy-MM-dd");
    string dateTo = Model.SearchFilter.DateTo == null ? "" : ((DateTime)Model.SearchFilter.DateTo).ToString("yyyy-MM-dd");
}

<h3>@_localizer["transfers"]</h3>

<p>
    <a class="btn btn-primary" asp-action="Create"><i class="bi bi-plus-circle me-2"></i>@_localizer["addNew"]</a>
</p>
<hr />
<div class="row">
    <div class="col-auto">
        <form class="row" method="post">
            <div class="col-auto">
                <label class="col-form-label">@_localizer["dateFrom"]:</label>
            </div>
            <div class="col-auto">
                <input type="date" value="@dateFrom" onchange="" name="dateFrom" class="form-control">
            </div>
            <div class="col-auto">
                <label class="col-form-label">@_localizer["to"]:</label>
            </div>
            <div class="col-auto">
                <input type="date" value="@dateTo" name="dateTo" class="form-control">
            </div>
            <div class="col-auto">
                <label class="col-form-label">@_localizer["searchText"]</label>
            </div>
            <div class="col-auto">
                <input type="text" value="@Model.SearchFilter.SearchText" name="SearchText" class="form-control" placeholder="">
            </div>
            <div class="col-auto">
                <button type="submit" class="btn btn-primary"><i class="bi bi-search me-2"></i>@_localizer["search"]</button>
            </div>
        </form>
    </div>
    <div class="col-auto">
        <form class="row" method="post">
            <div class="col-auto">
                <button type="submit" class="btn btn-danger"><i class="bi bi-x-circle me-2"></i>@_localizer["clear"]</button>
            </div>
        </form>
    </div>
</div>
<hr />
<div class="row">
    <div class="col">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Transfer.First().Created)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Transfer.First().Iban)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Transfer.First().FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Transfer.First().LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Transfer.First().Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Transfer.First().Amount)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Transfer.First().Reference)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Transfer)
                {
                    <tr class="@(item.Type == TransferType.Payment ? "table-danger" : "table-success")">
                        <td>
                            @Html.DisplayFor(modelItem => item.Created)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Iban)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            <i class="@(item.Type == TransferType.Payment ? "bi bi-arrow-right-circle-fill text-danger" : "bi bi-arrow-left-circle-fill text-success")"></i> @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Amount) @Html.DisplayFor(modelItem => item.Currency)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Reference)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
