@inject Microsoft.AspNetCore.Http.IHttpContextAccessor Accessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LoopBreakers.WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/sidebars.css" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/sidebars.js"></script>
</head>
<body>
    @Html.Partial("_SvgIcons")

    <main role="main">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap" /></svg>
                <span class="fs-4">LoopBreakers</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li>
                    <a class="nav-link @(Accessor.HttpContext.Request.Path.Value == "/" ? "active" : "text-white" )" asp-area="" asp-controller="Home" asp-action="Index">
                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#home" /></svg>
                        Home
                    </a>
                </li>
                <li>
                    <a class="nav-link @(Accessor.HttpContext.Request.Path.Value == "/Client" ? "active" : "text-white" )" asp-area="" asp-controller="Client" asp-action="Index">
                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle" /></svg>
                        Clients
                    </a>
                </li>
                <li>
                    <a class="nav-link @(Accessor.HttpContext.Request.Path.Value == "/Transfer" ? "active" : "text-white" )" asp-area="" asp-controller="Transfer" asp-action="Index">
                        <svg class="bi me-2" width="16" height="16"><use xlink:href="#cash-coin" /></svg>
                        Transfers
                    </a>
                </li>
            </ul>
        </div>
        <div class="menu-divider"></div>

        <div class="container">
            @RenderBody()
        </div>
    </main>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
